{% extends "base.html" %}
    <form method="POST" role="form">
    {% csrf_token %}
    <ul class="form-list">
        <li class="form-list__row" style="margin-top: 50px">
            <label class='label required' for='email'>Identifiant ou Email</label>
            <input type="email" pattern="^[^`~!#$%^&*()={}\[\]|\\:;“’<,>?๐฿]*$" id="email" name="email" tabindex="1" maxlength="80" class="textInput" title="Entrez votre email" required value="{% if not form.errors and request.COOKIES.email %}{{ request.COOKIES.email.strip }}{% endif %}"/>
        </li>
    </ul>

    <div  style="text-align: center; color:#c44f4f">
        {% if form.errors %}
            <span id="msgDjango">
                    {% for field in form %}
                        {% for error in field.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endfor %}
                {% for error in form.non_field_errors %}
                    {{ error|escape }}
                {% endfor %}
                </span>
        {% endif %}
    </div>
    <div>
        <p><a  href="{% url 'calcas_dashboard:password_reset_recover' %}">Mot de passe oublié ?</a></p>
        {% block inscription %}{% endblock %}
    </div>
    <div class="group">
        <span><input type="submit" id="signin_button_group" class="button-success signin_button_group" tabindex="3" value="Continuer"/></span>
    </div>
</form>
